.settingsChat {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__iconSettings {
    position: absolute;
    width: 2em;
    height: 2em;
    cursor: pointer;
    right: 1em;
  }

  &__editImg {
    margin-top: 2em;
    align-items: center;
    display: flex;
  }

  &__partyTitle {
    align-items: center;
    display: flex;
  }

  &__text {
    font-size: 1em;
    margin-left: 1em;
  }

  &__icon {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__imgChat {
    width: 3em;
    height: 3em;
    border-radius: 2em;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  }

  &__iAdd {
    width: 2em;
    height: 2em;
    border-radius: 1em;
  }

  &__iDelParty {
    width: 1.8em;
    height: 1.8em;
    border-radius: 0.9em;
    margin-right: 1em;
  }

  &__iDelChat {
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.6em;
    font-size: 2em;
    transform: rotate(45deg);
  }

  &__delChat {
    margin-top: 2em;
    align-items: center;
    display: flex;
  }

  &__party {
    margin-top: 4em;
    flex-grow: 1;
  }

  &__partyTitle {
    font-size: 1.1em;
    margin-left: 1.8em;
  }

  &__partyList {
    margin-top: 2em;
    padding: 0 2em;
  }

  &__imgParticipant {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    margin-right: 1em;
  }

  &__participant {
    display: flex;
    align-items: center;
  }
}
