.screenChat {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  padding: 1em;
  background-color: $base-color;

  &__correspondence {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    padding-top: 2em;
    overflow: overlay;
    margin-bottom: 1rem;

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    &::-webkit-scrollbar-button {
      background-color: $light-aque;
    }

    &::-webkit-scrollbar-track {
      background-color: $base-color;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      height: 1rem;
      background-color: $light-aque;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-corner {
      background-color: $base-color;
    }

    &::-webkit-resizer {
      background-color: $light-aque;
    }
  }

  &__imgProfile {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 1.5em;
    position: absolute;
    background: white;
  }

  &__wrapperMessages {
    position: relative;
    margin-bottom: 2em;
    padding: 0 5em;
    display: flex;
    .screenChat__imgProfile {
      left: 1em;
    }
  }

  &__messages {
    margin: 2em 0;
    min-height: 3.5em;
    max-width: 25em;
  }

  &__message {
    font-family: "Source Sans Pro", sans-serif;
    color: $grey;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    line-height: 1.4em;
    min-width: 20em;
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }

  &__message-my {
    background: $my-message;
  }

  &__print {
    padding: 1em;
    border-radius: 1em;
    width: 95%;
    margin: 0 1em;
  }

  &__send {
    display: flex;
    align-items: center;
    .input-wrapper {
      flex-grow: 1;
    }
  }

  &__icon {
    width: 2em;
    height: 2em;
    background-color: #fff;
    border-radius: 1em;
    padding: 0.3em;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
