.profileChat {
  position: relative;

  &__title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  &__imgChat {

    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 2em;
  }

  &__party {
    margin-top: 2em;
  }

  &__partyTitle {
    font-size: 1.1em;
    margin-left: 1.8em;
  }

  &__partyList {
    margin-top: 2em;
    padding: 0 2em;
  }

  &__imgParticipant {

    margin-right: 1em;
  }

  &__participant {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}
