@import "./screenChat/screenChat.scss";
@import "./listChat/listChat.scss";
@import "./profileChat/profileChat.scss";
@import "./settingsChat/settingsChat.scss";
@import "./addChat/addChat.scss";

.chat {
  box-shadow: $base-box-shadow;

  &__wrapper-screen {
    flex-grow: 6;
  }

  &__screen {
    height: 100%;
  }

  &__listChat {
    flex-grow: 2;
  }

  &__profileChat {
    flex-grow: 3;
    position: relative;
    padding: 7em 1.5em 2em;
    min-width: 30%;
  }

  &__iSetting {
    position: absolute;
    top: 3em;
    right: 2em;
    cursor: pointer;
    z-index: 1;
    transition: right 0.4s ease-in;

    &--active {
      right: 20em;
    }
  }

  &__choice {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__infoChat {
    height: 100%;
  }

  &__addChat {
    position: absolute;
    z-index: 5;
    margin: auto;
    top: 30%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 20%;
  }
}
