.header {
  background-color: $aque;
  padding: 1.2rem;
  position: absolute;
  width: 100%;
  z-index: 1;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $base-color;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    flex-grow: 1;
    font-size: 1.3em;
  }
}

.linkProfile {
  font-size: 1.3rem;
  width: 2em;
  height: 2em;
  background-color: $light-aque;
  border-radius: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &__link {
    color: $base-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:active {
      color: $link-active-color;
    }
  }
}
