$base-color: #f4fdfd;
$link-active-color: #b9a8cf;
$aque: #00869c;
$light-aque: #0195af;
$grey: #4e4e4e;
$light-grey: #828282;
$light-grey05: #cececedd;
$light-aque05: #98dbe741;
$warning:  #9a363bff;
$base-box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
