.avatar {
  border: 1px solid $light-grey05;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__img {
    width: 100%;
    height: 100%;
  }

  &__edit {
    width: 100%;
    height: 100%;
    background-color: $grey;
    position: absolute;
    opacity: 0;
  }

  &:hover {
    .avatar__edit {
      opacity: 0.1;
    }
  }
}
